<<<<<<< HEAD
/* corpo do documento */
* {
  text-align: center;
  font-family: Roboto;
}

/* texto */
=======
body {
  font-family: Roboto;
}

>>>>>>> main
h3 {
  font-size: larger;
}

p {
  font-size: larger;
}

.negrito {
  font-weight: bold;
}

<<<<<<< HEAD
/* botões */
=======
.container {
  margin: 0 auto;
  text-align: center;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

>>>>>>> main
button {
  background-color: limegreen;
  border: 0;
  padding: 10px;
<<<<<<< HEAD
  margin: 10px;
=======
>>>>>>> main
  color: white;
  border-radius: 5px;
}

.btn {
  background-color: gold;
  color: crimson;
}

.btn-menor {
  background-color: crimson;
}

.btn-maior {
  background-color: mediumblue;
}
